<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<main class="row d-flex flex-column flex-nowrap justify-content-center align-items-center page-body">
    <ul>
        <li><a href="./allusers">Get all Users who utilized URLSnap</a></li>
        <li><a href="./allurls">List all generated links</a></li>
        <li><a href="./allqrcodes">List all generated  QR Codes</a></li>
    </ul>
</main>
<%- include('./partials/footer.ejs') %>
   
    
</body>
</html>