<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<main class="row d-flex flex-column flex-nowrap justify-content-center align-items-center page-body g-3 m-4">
    <div class="p-2 col-10" >
        <h2>Statistics</h2>
        <h4>Easily analyze your company's use of URLSnap services</h4>
    </div>
        <a class="getLinksBtn btn btn-success p-4 col-3" href="./users">Users</a>
        <a class="getLinksBtn btn btn-success p-4 col-3" href="./links">Links</a>
        <a class="getLinksBtn btn btn-success p-4 col-3" href="./qrcodes">QR Codes</a>
    
</main>
<%- include('./partials/footer.ejs') %>
   
    
</body>
</html>