<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <main class="row d-flex flex-column flex-nowrap justify-content-center align-items-center page-body">
        <div class="col-8 d-flex flex-column flex-nowrap justify-content-center align-items-center p-5 g-3 border border-secondary-subtle rounded bg-light-subtle mb-4">
            <h4>Get links from a specific user</h4>
            <form method="get" class="users-form">
                <div class="form-div">
                    <label for="user">Enter user name</label>
                    <input type="text" name="user" id="name" required/>
                    <a class="getLinksBtn btn btn-success p-2 col-2" href="./allurls" type="submit">Show Links</a>
                </div>
            </form>
        </div>
        <div class="col-10 m-3">
            <table class="list-of-links table table-striped rounded-3 table-responsive">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Original Link</th>
                <th class="original-link" scope="col">Short Link</th>
                <th scope="col">Created at</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody class="table-body overflow-hidden">
        
              </tbody>
            </table>
        </div>
    <div class="col-8 d-flex flex-column flex-nowrap justify-content-center align-items-center p-5 g-3 border border-secondary-subtle rounded bg-light-subtle mb-4">
        <h4>Links</h4>
            <p> In this section, gain insights into shortened URLs from specific users effortlessly. Discover details such as the shortened link itself, the original link it corresponds to, and the precise date and time it was created. Keep track of your company URL shortening activity with ease and stay informed about the lifecycle of each link at a glance.</p>
            <a class="getLinksBtn btn btn-success p-2 col-2" href="./allurls" type="submit">Show Links</a>
            
      </div>
    <div class="col-10 m-3">
        <table class="list-of-links table table-striped rounded-3 table-responsive">
          <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Original Link</th>
            <th class="original-link" scope="col">Short Link</th>
            <th scope="col">Created at</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody class="table-body overflow-hidden">
    
          </tbody>
        </table>
    </div>
   </main>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>